@{
    ViewBag.Title = "新增商品";
}
    <div id="app">
        <div>
            <label>商品名稱</label>
            <input type="text" v-model="filter.name" />
        </div>
        <div>
            <label>商品價格</label>
            <input type="text" v-model="filter.price" />
        </div>
        <div>
            <label>商品數量</label>
            <input type="text" v-model="filter.quantity" />
        </div>
        <div>
            <label>是否上架</label>
            <input type="checkbox" v-model="filter.canSale" />
        </div>
        <div>
            <div class="input-title">檔案上傳</div>
            <div class="input-group">
                <label class="file"><input id="fileUpload" v-on:change="onUploadChange($event)" onchange="this.parentNode.setAttribute('title', this.value.replace(/^.*[\\/]/, ''))" type="file"></label>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" @@click="clearFile()">清除</button>
                </span>
            </div>
        </div>
        <input type="button" value="送出" @@click="createData" />
    </div>

@section Scripts
    {
    <script type="text/javascript">

        var injectObj = {
            urls: {
                createProduct: '@Url.Action("CreateProduct","ProductManage")',
            },
        };
    </script>

    <script src="~/js/ProductManage/create.js" asp-src-include="true"></script>
}