@using Newtonsoft.Json
@{
    ViewBag.Title = "商品列表";
}

<div id="app">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>是否訂購</th>
                    <th>商品圖片</th>
                    <th>商品名稱</th>
                    <th>商品數量</th>
                    <th>商品金額</th>
                    <th>購買數量</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in productList">
                    <td><input type="checkbox" v-model="item.isBuy" /></td>
                    <td><img :src="item.Address" width="100px" height="100px" /></td>
                    <td>{{item.ProductName}}</td>
                    <td>{{item.Quantity}}</td>
                    <td>{{item.Price}}</td>
                    <td><input type="number" v-model="item.Count" /></td>
                </tr>
            </tbody>
        </table>
        <input type="button" value="加入購物車" @@click="addCart" />
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">

        var injectObj = {
            urls: {
                detailPath:'@Url.Action("Detail","ProductManage")'
            },
            productList: JSON.parse('@Html.Raw(JsonConvert.SerializeObject(ViewBag.ProductList))'),
        };
    </script>

    <script src="~/js/Home/index.js" asp-src-include="true"></script>
}